@import "_nullstyle";

/* style.css */
body {
    background-color: #181818;
    font-family: Outfit;
    color: #fff;
    width: 1903px;
}
header {
    background-color: #FFAA4C;
    width: 100% /*1920px;*/;
    height: 38px;
}
.buttons {
    height: 100%;
    display: inline-flex;
    font-size: 16px;
    margin-left: 60px;


&__bus-style {
    height: 100%;
    width: 168px;
    background-color: #000;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
&__cust-style {
    color: #000;
    height: 100%;
    width: 185px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    transition: 0.15s;
    &:hover {
        background-color: #000000;
        color: #fff;
        }
    }
}

.stikhead {
    z-index: 5;
    background-color: #181818;
    width: 100%;
    height: 71px;
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    top: 0;
    &__logo {
        background-image: url(../images/common/logo.svg);
        background-repeat: no-repeat;
        padding-left: 39.4px;
        font-size: 37px;
        font-weight: 600;
        margin-left: 68.4px;
    }
    &__button-style {
        margin: 0 60px 0 0;
        border-radius: 16px;
        width: 182px;
        height: 57px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        background-color: #954CED;
    }
}

.frame1 {
    height: 525px;
    margin: 62px 0 100px 0;
    background-image: url(../images/frame1/hero.png);
    background-repeat: no-repeat;
    background-position: right;
    &__content {
        margin: 0 0 0 110px;
        padding: 20px 0 0 0;
    }
    &__content-title {
        font-size: 96px;
        font-weight: 700;
        margin: 0 0 20px 0;
    }
    &__content-info {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 0 40px 0;
    }
    &__button-style {
        margin: 0 60px 0 0;
        border-radius: 16px;
        width: 182px;
        height: 57px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        background-color: #954CED;
        margin: 0 0 0px 0;
    }
}
.frame2 {
    margin: 0 0 100px 0;
    &__title {
        margin: 0 0 78px 60px;
        font-size: 96px;
        font-weight: 700;
    }
    &__block {
        height: 773px;
        display: flex;
        justify-content: space-between;
    }
    &__info {
        padding: 2px 0 0 60px;
        background-image: url(../images/frame2/vector2.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        font-size: 36px;
        font-weight: 600;
        margin: 0 131px 0 0;
        line-height: 45.36px;
        width: 423px;
        &>p {
            width: 397px;
        }
    }
    &__span {
        background-image: url(../images/common/vector1.png);
        background-position: 0 5px;
        background-repeat: no-repeat;
        margin: 0 -15px -15px 0;
        padding: 0 15px 15px 0;
        
    }
    &__columns {
        width: 727px;
        margin: 0 125px 0 0;
    }
    &__row1 {
        display: flex;
    }
    &__column1 {
        background-image: url(../images/frame2/column1.png);
        background-repeat: no-repeat;
        padding: 110px 0 0 0;
        width: 321px;
        height: 268px;
        margin: 0 70px 92px 0;
    }
    &__column2 {
        background-image: url(../images/frame2/column2.png);
        background-repeat: no-repeat;
        padding: 110px 0 0 0;
        width: 301px;
        height: 290px;
        margin: 0 0 70px 0;
    }
    &__row2 {
        display: flex;
    }
    &__column3 {
        background-image: url(../images/frame2/column3.png);
        background-repeat: no-repeat;
        padding: 110px 0 0 0;
        width: 306px;
        height: 319px;
        margin: 0 85px 0 0;
    }
    &__column4 {
        background-image: url(../images/frame2/column4.png);
        background-repeat: no-repeat;
        padding: 110px 0 0 0;
        width: 336px;
        height: 377px;
    }
    &__column-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 51px;
    }
}
.collumns>p {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
}


.frame3 {
    max-width: 100%;
    overflow: hidden;
    margin: 0 0 100px 0;
    font-size: 128px;
    font-weight: 700;

    letter-spacing: 0px;
    position: relative;
    padding: 46px 0 46px 0;


&__marque-1 {
    margin: 0 0 68px 0;
    & div {
        width: 250%;
        display: flex;
        animation: marque-1 6s linear infinite;
    }
    & p {
        white-space: nowrap;
        width: 100%;
    }}
    &__p-black {
        color: #181818;
        text-shadow: 0 0 3px #444444;
    }
    & &__p-blue {
        color: #2FDBBC;
    }

    &__marque-2 {
        margin: 0 0 68px 0;
        & div {
            width: 250%;
            display: flex;
            animation: marque-2 6s linear infinite;
        }
        & p {
            white-space: nowrap;
            width: 100%;
        }}
        &__p-black {
            color: #181818;
            text-shadow: 0 0 3px #444444;
        }
        &__p-purple {
            color: #A64CED;
        }
    
    &__marque-3 {
    & div {
        width: 250%;
        display: flex;
        animation: marque-3 6.5s linear infinite;
    }
    & p {
        white-space: nowrap;
        width: 100%;
    }}
    &__p-black {
        color: #181818;
        text-shadow: 0 0 3px #444444;
    }
    &__p-orange {
        color: #FFAA4C;
    }
    &__phone {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    &__phone-content {
        position: relative;
        z-index: 3;
        width: 308px;
        height: 100%;
    }
    &__video {
        border-radius: 20%;
        top: 5px;
        width: 308px;
        height: 600px;
        position: absolute;
    }
}
.framepurp {
        background-color: #954CED;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 40px 0;
        margin: 0 0 100px;
    & h2 {
        font-size: 64px;
        font-weight: 700;
        line-height: 67.84px;
        margin: 0 0 16px 0;
    }
    & p {
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px;
    }
    &__info1 {
        height: 142px;
        width: 217px;
    }
    &__info2 {
        height: 142px;
        width: 163px;
    }
    &__info3 {
        height: 142px;
        width: 161px;
    }
}
.frame4 {
    margin: 0 0 100px 0;
    &__title {
        width: 664px;
        text-align: center;
        margin: 0 auto 70px auto;
    }
    & h2 {
        font-size: 64px;
        font-weight: 700;
        margin: 0 0 20px 0;
    }
    & p {
        font-size: 36px;
        font-weight: 600;
        line-height: 45.36px;
    }
    &__span {
        background-image: url(../images/common/vector1.png);
        background-position: 0 2px;
        background-repeat: no-repeat;
        margin: 0 -15px -10px -15px;
        padding: 0 15px 10px 15px;
        background-size: 100%;
    }
    &__columns {
        margin: 0 70px;
        width: 1300px;
        margin: 0 auto;
        color: #000;
    }
    &__columns h2 {
        font-size: 48px;
        font-weight: 600;
        line-height: 60.48px;
    }
    &__columns p {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400px;
    }
    &__1row {
        display: flex;
        margin: 0 0 20px 0;
    }
    &__1block {
        background-image: url(../images/frame4/1bgc.png);
        width: 733px;
        height: 362px;
        border-radius: 30px;
        background-repeat: no-repeat;
        background-color: #F5F5F5;
        margin: 0 20px 0 0;
    }
    &__info1 {
        margin: 40px 40px 50px 329px;
    }
    &__2block {
        background-image: url(../images/frame4/2bgc.png);
        width: 547px;
        height: 362px;
        border-radius: 30px;
       background-repeat: no-repeat;
        background-color: #F5F5F5;
    }
    &__info2 {
        margin:40px 91px 86px 40px;
    }
    &__2row {
        display: flex;
    }
    &__3block {
        background-image: url(../images/frame4/3bgc.png);
        width: 547px;
        height: 362px;
        border-radius: 30px;
       background-repeat: no-repeat;
        background-color: #F5F5F5;
        margin: 0 20px 0 0;
    }
    &__info3 {
        margin: 40px 67px 50px 40px;
    }
    &__4block {
        background-image: url(../images/frame4/4bgc.png);
                width: 733px;
        height: 362px;
        border-radius: 30px;
       background-repeat: no-repeat;
        background-color: #F5F5F5;
    }
    &__info4 {
        margin: 40px 291px 86px 40px;
    }
}
.frame5 {
    background-color: #F5F5F5;
    color: #000000;
    padding: 100px 0 0 0;
    &__title {
        border: 1px solid #CFCFCF;
        border-radius: 60px;
        height: 285px;
        margin: 0 60px 100px 60px;
        & h2 {
            font-size: 64px;
            font-weight: 700;
            line-height: 67.84px;
            text-align: center;
            margin: 60px 0 0 0;
        }
    }
    &__button-style {
            margin: 40px auto 60px auto;
            border-radius: 16px;
            width: 182px;
            height: 57px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            background-color: #954CED;
            display: block;
    }
    &__main {
        display: flex;
        h2 {
            font-size: 96px;
            font-weight: 700;
            line-height: 101.76px;
            margin: 0 0 20px 0;
        }
        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            width: 537px;
        }
        &text{
            width: 822px;
            height: 272px;
            margin: 0 0 0 60px;
        }
    }
    &__mainpng {
        margin: 0 0 0 100px;
        &-1 {
            margin: 0 0 2px 0;
    }
        &-2 {
            margin: 0 0 45px 0;
        }
    }
    &__1png {
        margin: 45px 170px 0 33px;
    }
    &__2png {
        margin: 45px 175px 0 0;
    }
    &__3png {
        margin: 0 170px 0 163px;
    }
    &__4png {
        margin: 0 45px 0 0;
    }

    &__foot {
        margin: 100px 0 100px 0;
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
    }
}
.foot {
    height: 188px;
    background-color: #181818;
    background-image: url(/images/common/logo.png);
    background-repeat: no-repeat;
    background-position: 60px 0;
    &__1 {
        display: flex;
        margin: 40px 60px 20px 60px;
        padding: 0 0 30px 0;
        border-bottom: solid 1px #B9B9B9;
        & a {
            color: #fff;
            font-size: 20px;
            line-height: 25.2px;
            font-weight: 500;
        }
    }
    &__ahref {
        margin: auto 0;   
        &-1 {
            margin: 0 40px 0 341px;
         }    
    }
    &__button-style {
        border-radius: 16px;
        width: 182px;
        height: 57px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        background-color: #954CED;
        margin: 0 0 0 250px
            
    }
    & img {
        cursor: pointer;
        margin: 0 20px;
    }
    &__stores {
        margin: 0 -20px 0 200px;
    }
    &__2 {
        display: flex;
        color: #B9B9B9;
        margin: 0 60px 0 60px;
        font-size: 14px;
        & p {
            margin: 0 940px 0 0;
        }
        & a {
            color: #B9B9B9;
            text-decoration: underline #B9B9B9;
            margin: 0 40px 0 0;
            cursor: pointer;
        }
    }
}

@keyframes marque-1 {
    0% {
       transform: translateX(-56%);
    }
    100% {
        transform: translateX(-6%);
    }   
}
@keyframes marque-2 {
     0% {
        transform: translateX(-1.65%);
     }
     100% {
        transform: translateX(-51.65%);
    }
}
@keyframes marque-3 {
     0% {
        transform: translateX(-61.1%);
    }
     100% {
        transform: translateX(-11.1%);
    }
}